.portfolio{
    background-image: linear-gradient(#ad5652, #d08c60);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects {
    margin-top: 50px;
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding-bottom: 4vh;
    font-size: 4vh;
}

.unstyled {
    border: none;
    padding: 0;
    background: none;
    font-size: 3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}