.intro{
    background-color: #45503b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 50%;
    width: 60%;
    z-index: 2;
    position:relative;
    // background-color: red;
}

.greeting {
    margin-top: 1.5rem;
    padding-left: .5vw;
    font-size: 3vmin;
}

.name {
    // text-align: right;
    font-size: 7vmin;
}

.followup {
    padding-top:8px;
    font-size: 2.5vmin;
    padding-left: .75vw;
}

.background {
    position: absolute;
}